
/* 브라우저 크기가 900px이상이면 좌우로 이분할, 900px 미만이면 위아래로 이분할 */
.box::after{
	content: ''; clear: both; display: block;
}
.inner-box{
	float: left; width: 50%; height: 500px; background-color: red;
}
.inner-box:nth-child(2){
	background: blue;
}