body {
	margin: 0;
}
.menu-list{
	list-style: none;
	margin: 0; padding: 10px 0;
	display: flex;
	justify-content: space-around;
}
.menu-link{
	color: black;
}
.menu-link:hover{
	background-color: aliceblue;
}
.movie1{
	font-size: 50px;
	position: relative; 
	text-Align: Center;
}

table{
	margin-left:auto;margin-right:auto;
	border-collapse: separate;
   border-spacing: 10px 10px;
	 text-align: center;
}
